body{
  font-family: 'Open Sans', sans-serif!important;
}
.text-slanted{
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-orange{
  color:#f15025;
}
.letter-spacing{
  letter-spacing: 0.5rem;
}