body{
  font-family: 'Open Sans', sans-serif!important;
}
.text-slanted{
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-orange{
  color:#f15025;
}
.letter-spacing{
  letter-spacing: 0.5rem;
}

.header-hero{
  min-height: calc(100vh - 56px);
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./images/homebackground.jpg') center/cover no-repeat;
}